@font-face {
  font-family: "Biotif";
  src: url("../assets/fonts/Biotif-Book.ttf") format("truetype"),
    url("../assets/fonts/Biotif-Medium.ttf") format("truetype"),
    url("../assets/fonts/Biotif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Effra";
  src: url("../assets/fonts/Effra-AzMedium.ttf") format("truetype"),
    url("../assets/fonts/EffraAzRegular.ttf") format("truetype"),
    url("../assets/fonts/Effra-AzLight.ttf") format("truetype");
}

.effra-light {
  font-family: "Effra";
  font-weight: 100;
  font-style: normal;
}

.effra-medium {
  font-family: "Effra";
}

.effra-regular {
  font-family: "Effra";
}

.bt-dash {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.bt-bold {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.bt-navbar {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.bt-book {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.bt-smalltitle {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 109.4%;
}

.bt-smalltext {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.015em;
  color: #6f7ea1;
}

.bt-medium {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
}

.bt-regular {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 134.1%;

  /* or 75px */
  letter-spacing: 0.035em;
}

.bt-footer {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.bt-placeholder {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
}
.bt-md {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 200%;
}

.bt-fontonly {
  font-family: "Biotif";
}

.bt-title {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 120%;
}

.bt-button {
  font-family: "Biotif";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.bg-bottom {
  background-image: url("../assets/bgbottom.svg");
}

.bg-top {
  background-image: url("../assets/bgtop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
