.bt-book {
  font-family: "Biotif";
  src: url("../assets/fonts/Biotif-Book.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.bt-smalltitle {
  font-family: "Biotif";
  src: url("../assets/fonts/Biotif-Book.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 109.4%;
}

.bt-smalltext {
  font-family: "Biotif";
  src: url("../assets/fonts/Biotif-Book.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.015em;
}

.bt-medium {
  font-family: "Biotif";
  src: url("../assets/fonts/Biotif-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
}

.bt-regular {
  font-family: "Biotif";
  src: url("../assets/fonts/Biotif-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 134.1%;

  /* or 75px */
  letter-spacing: 0.035em;
}

.bt-footer {
  font-family: "Biotif";
  src: url("../assets/fonts/Biotif-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.bt-placeholder {
  font-family: "Biotif";
  src: url("../assets/fonts/Biotif-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
}
.bt-md {
  font-family: "Biotif";
  src: url("../assets/fonts/Biotif-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 200%;
}

.bt-fontonly {
  font-family: "Biotif";
  src: url("../assets/fonts/Biotif-Regular.ttf") format("ttf");
}

.bg-bottom {
  background-image: url("../assets/bgbottom.svg");
}

.bg-top {
  background-image: url("../assets/bgtop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
